/* !IMPORTANT: The First picture and Last picture must be the same */

/* This is example for slider that has 5 items */

.slider {
  overflow: hidden;
}

.slider .slider-inner {
  position: relative;
  margin: 0;
  left: 0;
}

.slider .slider-inner .slider-item {
  float: left;
  width: 20%; /* 100% / 5 pictures = 20% */
}

@keyframes sliderFadeIn {
  /* you must divide 100% fot the amount of images you have */
  0% {
    left: 0;
  }
  /* these intermediate steps (20%, 45%, 70%, ... will make the transition speed faster */
  20% {
    left: 0;
  }
  /* because total width: 500% (5 x 100% for 5 images) => use 20% for each image */
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@-o-keyframes sliderFadeIn {
  /* you must divide 100% fot the amount of images you have */
  0% {
    left: 0;
  }
  /* these intermediate steps (20%, 45%, 70%, ... will make the transition speed faster */
  20% {
    left: 0;
  }
  /* because total width: 500% (5 x 100% for 5 images) => use 20% for each image */
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@-moz-keyframes sliderFadeIn {
  /* you must divide 100% fot the amount of images you have */
  0% {
    left: 0;
  }
  /* these intermediate steps (20%, 45%, 70%, ... will make the transition speed faster */
  20% {
    left: 0;
  }
  /* because total width: 500% (5 x 100% for 5 images) => use 20% for each image */
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@-webkit-keyframes sliderFadeIn {
  /* you must divide 100% fot the amount of images you have */
  0% {
    left: 0;
  }
  /* these intermediate steps (20%, 45%, 70%, ... will make the transition speed faster */
  20% {
    left: 0;
  }
  /* because total width: 500% (5 x 100% for 5 images) => use 20% for each image */
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.slider .slider-inner {
  width: 500%; /* 5 pictures = 500% */
  -webkit-animation: 20s sliderFadeIn infinite;
  animation: 20s sliderFadeIn infinite;
}
